{% extends "base.html" %}
{% block title%}Process the Dataset &quot;{{title}}&quot;{% endblock %}
{% block description %}Process the dataset &quot;{{title}}&quot; via the USGS Geo Data Portal. Potentially applicable algorithms include
{% for gdp_algorithm in gdp_algorithms %}
	{% if loop.last %} and {{gdp_algorithm}}.{% else %}{{gdp_algorithm}},{% endif %}
{% endfor %}
{% endblock %}
{% block body %}
<h1>Dataset Metadata</h1>
<dl>
	<dt>Title</dt>
	<dd>{{title}}</dd>
	<dt>Abstract</dt>
	<dd>{{abstract}}</dd>
</dl>
<h2>Dataset References</h2>
<ul>
{% for reference in references %}
	<li><a href="{{reference.url}}">{{reference.url}}</a></li>	
{% endfor %}
</ul>
<h2>Potentially Applicable Algorithms</h2>
<ul>
{% for gdp_algorithm in gdp_algorithms %}
	<li>{{gdp_algorithm}}</li>
{% endfor %}
</ul>

<form action="dummy_post" method="post">
	{% for form_field in gdp_form_fields %}
		<label for="{{form_field.machine}}">{{form_field.human}}</label><input id="{{form_field.machine}}" type="text"/>
	{% endfor %}
	<button type="submit">Submit</button>
</form>

{% endblock %}